<audio src="assets/ringback.wav" loop id="ringBackAudio" #ringBack></audio>
<ng-container *ngIf="mediaDeviceReady">
  <div style="width: 100vw" class="call-in-progress" *ngIf="sipInitialized">
    <div class="remote-video">
      <video
        #remoteVideo
        [volume]="1"
        autoplay
        [srcObject]="remoteVideoStream"
        [ngClass]="{ hidden: !callInProgress && !remoteVideoReady }"
      ></video>
      <div
        class="waiting-for-agent d-flex justify-content-center align-items-center"
        *ngIf="!callInProgress && callOnMaking"
      >
        <div
          class="agent-avatar circle-pulse d-flex justify-content-center align-items-center"
        >
          <img
            src="assets/agent.png"
            alt=""
            class="agent-avatar circle-pulse"
          />
        </div>
      </div>
    </div>
    <div
      class="w-100 h-100 d-flex justify-content-center align-items-center local-video"
    >
      <video
        [volume]="0"
        muted
        playsinline
        autoplay
        [srcObject]="localVideoStream"
      ></video>
      <div
        class="controller d-flex w-100 position-absolute justify-content-center align-items-center"
      >
        <button
          class="btn rounded-circle"
          [ngClass]="{
            'btn-outline-danger': isTurnOffLocalVideo
          }"
          (click)="switchCamera()"
        >
          <i
            class="las mx-2 text-white fs-1"
            [ngClass]="{
              'la-video-slash': isTurnOffLocalVideo,
              'la-video': !isTurnOffLocalVideo
            }"
          ></i>
        </button>
        <button class="btn btn-danger rounded-circle mx-4" (click)="hangup()">
          <i class="las la-phone-slash mx-2 text-white fs-4"></i>
        </button>
        <button
          class="btn rounded-circle"
          [ngClass]="{
            'btn-outline-danger': isMuteLocalAudio
          }"
          (click)="isMuteLocalAudio = !isMuteLocalAudio; processCallAudio()"
        >
          <i
            class="las la-microphone mx-2 text-white fs-1"
            [ngClass]="{
              'la-microphone-slash': isMuteLocalAudio,
              'la-microphone': !isMuteLocalAudio
            }"
          ></i>
        </button>
      </div>
    </div>
  </div>
  <div
    class="waiting-screen d-flex flex-column justify-content-center align-items-center"
    style="width: 100vw; height: 100vh; overflow: hidden"
    *ngIf="!sipInitialized"
  >
    <mat-spinner></mat-spinner>
    <h2 class="fs-4 fw-bold my-4 text-opacity-75">Please Wait...</h2>
  </div>
</ng-container>
