.local-video {
  position: absolute;
  max-width: 100vw;
  max-height: 100vh;
  overflow-y: hidden;
  background-color: black;
  video {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}

.remote-video {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  width: 5rem;
  max-height: 10rem;
  overflow-y: hidden;
  border-radius: 5px;
  video {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }

  video.hidden {
    display: none;
  }

  .waiting-for-agent {
    width: 5rem;
    height: 8rem;
    background-color: white;
    .agent-avatar {
      width: 2rem;
      height: 2rem;
      img {
        width: 2rem;
        border: 1px solid gray;
        border-radius: 50%;
      }
    }
  }
}

.controller {
  bottom: 5rem;
  left: 0;
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: rgba($color: #000000, $alpha: 0.2);
  }
  .btn-danger {
    width: 5rem;
    height: 5rem;
    background-color: red;
  }
}

.circle-pulse {
  animation: pulse 2s infinite;
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($color: green, $alpha: 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba($color: green, $alpha: 0.1);
  }

  100% {
    box-shadow: 0 0 0 5px rgba($color: green, $alpha: 0.7);
  }
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: gray;
}

::ng-deep mat-spinner {
  width: 3rem !important;
  height: 3rem !important;
  svg {
    width: 3rem !important;
    height: 3rem !important;
  }
}
