<div
  style="width: 100vw; height: 100vh; overflow: hidden;"
  class="d-flex flex-column align-items-center justify-content-center"
>
<div class="w-50 rounded-circle d-flex align-items-center justify-content-center">
  <img src="assets/green-check.png" alt="" class="w-75">
</div>

<div class="w-75 text-center my-4">
  <h2 class="fw-bold fs-4">Thank you for using our service</h2>
</div>

</div>
